@page
@model Lab5_6.Pages.Patients.DeleteModel

@{
    ViewData["Title"] = "Patients | Delete";
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete patient?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientOib)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientOib)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientMbo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientMbo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Diagnosis.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateOfAdmittance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateOfAdmittance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateOfDischarge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateOfDischarge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientInsurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientInsurance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.IsDischarged)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.IsDischarged)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Patient.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Patients/Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}